@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: white;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(233, 20, 20);
}
